body {
  background-color: #BFC0C0;
  font-family: 'Lato', sans-serif
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  font-family: 'Rock Salt', cursive;
  background-color: #254B75
}

h1 {
  color: #FFF;
  font-size: 3rem
}

button {
  border-radius: 1rem;
  background-color: #97DFFC;
  text-align: center;
  padding: .5rem
}

header button {
  height: 30px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.user-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

input {
  border-radius: 1rem;
  border-style: none;
  padding: .4rem
}

.both-charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today h2 {
  text-align: center;
}

.circle-graph {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.single-chart text {
  font-size: 2px;
}

.circle {
fill: red;
}

.circle-background {
 fill: blue;
}

.line-graph-area {
  margin-left: 20px; 
  width: 50%;
}

.line-graph {
  height: 300px;
  width: 300px;
}

.timer {
 text-align: center;
}

.timer-btn {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
}

.timer-btn button {
  width: 100px;
}

.add-workout {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
}

.calenderr h2 {
  text-align: center;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0; 
  overflow: hidden;
}
   
.responsiveCal iframe {
  position: absolute; 
  top: 0; 
  left: 10%; 
  width: 80%; 
  height: 100%; 
}

.history {
  text-align: center;
}

table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

.history th {
  border-top: 3px solid black;
  border-bottom: 6px solid black;
  width: 200px;
}

.history td {
  border-top: 3px solid black;
  border-bottom: 6px solid black;
  width: 200px;

}