body {
  background-color: #BFC0C0;
  font-family: 'Lato', sans-serif
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  font-family: 'Rock Salt', cursive;
  background-color: #254B75
}

h1 {
  color: #FFF;
  font-size: 3rem
}

button {
  border-radius: 1rem;
  background-color: #97DFFC;
  text-align: center;
  padding: .5rem
}

header button {
  height: 30px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.user-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

input {
  border-radius: 1rem;
  border-style: none;
  padding: .4rem
}

.both-charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 30px auto;
  max-width: 90%;
  max-height: 200px;
}  

.today h2 {
  text-align: center;
}

.circle-background {
  fill: none;
  stroke: #97DFFC;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke: #254B75;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circle-label{
  text-align: center
}

.line-graph-area {
  margin-left: 20px; 
  width: 50%;
}

.line-graph {
  height: 300px;
  width: 300px;
}

.workout-zone {
 text-align: center;
}

.timer {
  width: 48%;
}

.timer-btn {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
}

.timer-btn button {
  width: 100px;
}

.workouts {
  display: flex;
}

.add-workout {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
  width: 48%;
}

.calenderr h2 {
  text-align: center;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0; 
  overflow: hidden;
}
   
.responsiveCal iframe {
  position: absolute; 
  top: 0; 
  left: 10%; 
  width: 80%; 
  height: 100%; 
}

.history {
  text-align: center;
}

table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

.history th {
  border-top: 3px solid black;
  border-bottom: 6px solid black;
  width: 200px;
}

.history td {
  border-top: 3px solid black;
  border-bottom: 6px solid black;
  width: 200px;

}